<head></head>

<body>
    <h1 id="welcome-name">Welcome to mapp!</h1>
    <div class="vert-center">
        <button mat-raised-button style="margin-right: 50px;">Student Login</button>
        <button mat-raised-button>Teacher Login</button>
    </div>
    <div class="vert-center" style="margin-top:50px;">
        <button mat-raised-button id="create-acc">Create Account</button>
    </div>
    <div class="bottom-right">       
        <button mat-button>
            Settings
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-button>
            Help
            <mat-icon>help</mat-icon>
        </button>
        <button mat-button>
            Contact
            <mat-icon>contact_mail</mat-icon>
        </button>
    </div>
</body>
