<head></head>

<body>
    <h1 id="student-login">Student Login</h1>
    <div class="vert-center" style="margin-top:50px;">
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter username" required="true">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter password" required="true">
              </mat-form-field>
        </p>
        <div style="margin-top: 50px;">
            <button mat-raised-button id="login">Login</button>
            <button mat-raised-button (click)="onClickForgotPassword()" id="forgot-password">Forgot Password</button>    
        </div>
    </div>
    <div class="bottom">
        <button (click)="onBackButtonClick()" mat-button>
            Back 
            <mat-icon>replay</mat-icon> 
        </button>
    </div>
    <div class="bottom-right">
        <button mat-button>
            Settings
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-button>
            Help
            <mat-icon>help</mat-icon>
        </button>
        <button mat-button>
            Contact
            <mat-icon>contact_mail</mat-icon>
        </button>
    </div>
</body>