<head></head>

<body>
    <h1 id="student-login">Student Login</h1>
    <form class="vert-center" style="margin-top:50px;">
    </form>
    <div class="vert-center" style="margin-top:50px;">
        <button mat-raised-button>Login</button>
        <button mat-raised-button>Forgot Password</button>
    </div>
    <div class="bottom-right">
        <button mat-button>
            Settings
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-button>
            Help
            <mat-icon>help</mat-icon>
        </button>
        <button mat-button>
            Contact
            <mat-icon>contact_mail</mat-icon>
        </button>
    </div>
</body>