html, body{
    overflow-y: hidden;
    overflow-x: hidden;
}
hr.rounded {
    border-top: 8px solid red;
    border-radius: 5px;
    position: absolute;
    top: 75%;
    width: 100%;
}
.under-red{
    position: absolute;
    top: 80%;
    width: 100%;
}
.middle{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.left{
    margin-top: 0px;
    margin-left: 15px;
    float: left;
}
.right{
    margin-top: 0px;
    margin-right: 15px;
    float: right;
}
#wrong-answer{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: red;
    padding-left: 50px;
    font-weight: 700;
    margin-top: 10px;
}
::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em!important;
 }
 .bottom-right{
    position: fixed;
    bottom: 0;
    right:0;
    margin:5px; 
}
.bottom{
    position: fixed;
    bottom: 0;
    margin: 5px;
}
.container {
  margin-top: 40px;
  padding-top: 20px;
}
.vertical {
  display: inline-block;
  width: 20%;
  height: 40px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.vertical {
  box-shadow: inset 0px 4px 6px rgb(250, 250, 250);
}
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(112, 38, 38, 0.6);
}
.score{
  margin-top: 5px;
  margin-left: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
