<app-welcome-page *ngIf="router.url == '/'"></app-welcome-page>
<app-student-login *ngIf="router.url == '/student-login'"></app-student-login>
<app-teacher-login *ngIf="router.url == '/teacher-login'"></app-teacher-login>
<app-create-new-account *ngIf="router.url == '/create-account'"></app-create-new-account>
<app-forgot-password *ngIf="router.url == '/forgot-password'"></app-forgot-password>
<app-asteroid-game-page *ngIf="router.url == '/asteroid-game-page'"></app-asteroid-game-page>
<app-forgot-password *ngIf="router.url == '/forgot-password'"></app-forgot-password>
<app-contact-page *ngIf="router.url == '/contact-page'"></app-contact-page>
<app-help-page *ngIf="router.url == '/help-page'"></app-help-page>
