html,body{
    overflow-y: hidden;
}

#header{
    font-size: 80px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}
.bottom{
    position: fixed;
    bottom: 0;
    margin: 5px;
}